@using CustTrack.Models.EntityFramework;
@model List<T_Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<div class="container">
    <br />
    <table class="table table-borderless">
        <thead>
            <tr>
                <td align="center"><b>Bölüm</b></td>
                <td align="center"><b>Düzenle</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var departman in Model)
            {
                <tr>
                    <td align="center">@departman.department_name</td>
                    <td align="center"><a class="btn btn-outline-dark" href="/Admin/Departmant/@departman.department_id">Detay</a></td>
                </tr>
            }
        </tbody>
    </table>
    <div align="right" class="col-lg-12">
        <a class="btn btn-secondary" href="/Admin/Departmant/0"> Bölüm Ekle</a>
    </div>
</div>

